  * {
      margin: 0%;
      font-family: "Nunito Sans", sans-serif;
  }

  header {
      color: white;
      background-color: #9f3647;
  }

  main {
      text-align: center;
  }

  footer {
      color: white;
      background-color: #9f3647;
      text-align: center;
  }

  .claLogo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 10px;
      
  }
  .claLogo:hover{
    color:burlywood;
     
    
    
}

  .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;


  }
 
  .cambio-inline {
      display: inline;
       
  }

  .cambio-inline li {
      display: inline-block;
       
  }

  .cambio-inline li a {
      display: inline;
      color: white;
      text-decoration: none;
      padding: 10px;
  }

  .cambio-inline li a:hover {
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
      border: solid;
      border-radius: 12px;
      border-color: rgba(255, 255, 255, 0.651);

  }

  .tituloPrincipal {
      background-image: url('https://giselemilagros88.github.io/cac_movies_javaphp/assets/img/banner-bg.jpg  ');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 90vh;
      margin-bottom: 1rem;
  }

  .tit1 {
      color: white;
      font-size: 4rem;
      font-weight: 700;
  }

  .tit2 {
      color: white;
      font-size: 3rem;
      font-weight: 700;
  }

  .sectionBuscando {
      background-color: #181419;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: 180px;

  }
.flex-container{
    display: flex;
    align-items: center;
}
  .sectionTendencia {
      background-color: #181419;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: 18px;
     
  }

  .sectionLasmas {
      background-color: #181419;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: 18px;
  }

  .Botones {
      color: white;
      background-color: #9f3647;
      border-radius: 10%;
      border: solid;
      text-decoration: none;
      padding: 10px;
  }

  .Botones:hover {
      font-weight: bold;
      cursor: pointer;
      border-color: rgba(255, 255, 255, 0.651);
      padding-left: 16px;
      padding-right: 16px;
  }




  .navego a {
      color: white;
      background-color: #9f3647;
      margin: 18px;
      padding: 10px;
      border: solid;
      border-radius: 12px;
      border-color: #a85e6a79;
  }

  .navego a:hover {
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
      border-color: rgba(219, 15, 128, 0.651);
  }

  #soloAd {
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
      border-color: #9daa5279;
  }

  #soloAd:hover {
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
      border-color: #a6c20879;
  }

  .imagTendencia {
      border-radius: 10%;
      margin: 20px;
      border: solid;
      border-color: rgba(108, 179, 179, 0.685);
  }

  .imagTendencia:hover {
      border-color:rgba(255, 255, 255, 0.986);
     border-style:dotted;
     border-width: 3px;
      
      
       
       
  }  

  .imagAclamada {
      border-radius: 10%;
      margin: 20px;
      border: solid;
  }

  .imagAclamada:hover {
      border-color: rgba(179, 108, 138, 0.685);
  }






/*ESTILOS ESCRITORIO PARA PAGINA Registrarse */
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../assets/img/bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionRegistrarse{
            background-color:rgba(42, 42, 42, 0.799);
            width: 40%;
            margin:0 auto;
            border-radius: 5px;
            padding: 30px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 5px;
                    font-size: 1.2rem;
                    border-radius: 25px;
                    border:ridge 3px   #50369f;
                    background-color: #5d5c5c;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 1px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#48369f;
                    border: 2px solid #364d9f;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
            }
           
        }
   
    }
}


